:root {
  
  /* Цвета */
  --vrx-h2s-primary-color: #1976d2; /* Основной цвет */
  --vrx-h2s-secondary-color: #26A69A; /* Вторичный цвет */
  --vrx-h2s-accent-color: #9C27B0; /* Акцентный цвет */
  --vrx-h2s-accent-hover-color: #7b1fa2; /* Акцентный цвет при наведении */

  --vrx-h2s-positive-color: #21BA45; /* Цвет успешного действия */
  --vrx-h2s-negative-color: #C10015; /* Цвет ошибки */
  --vrx-h2s-info-color: #31ccec; /* Цвет информации */
  --vrx-h2s-warning-color: #F2C037; /* Цвет предупреждения */

  /* Шрифты */
  --vrx-h2s-text-font-family: 'Inter', Arial, sans-serif; /* Шрифт */
  --vrx-h2s-text-color: #474747; /* Цвет шрифта основной */

  /* Основная кнопка - вызов помощника */
  --vrx-h2s-main-button-text-font-size: 18px; /* Размер шрифта основной кнопки */
  --vrx-h2s-main-button-bg-color: var(--vrx-h2s-accent-color); /* Цвет фона основной кнопки */
  --vrx-h2s-main-button-text-color: #fff; /* Цвет текста основной кнопки */
  --vrx-h2s-main-button-hover-bg-color: var(--vrx-h2s-accent-hover-color); /* Цвет фона основной кнопки при наведении */
  --vrx-h2s-main-button-hover-text-color: #fff; /* Цвет текста основной кнопки при наведении */
  --vrx-h2s-main-button-border-radius: 10px; /* Радиус скругления кнопки */

  /* Основное модальное окно */
  --vrx-h2s-main-modal-bg-color: #fff; /* Цвет фона модального окна */
  --vrx-h2s-main-modal-width: 800px; /* Ширина модального окна */
  --vrx-h2s-main-modal-border-radius: 10px; /* Радиус скругления модального окна */
  --vrx-h2s-main-modal-title-size: 16px; /* Размер шрифта заголовка модального окна */
  --vrx-h2s-main-modal-header-bg: #f5f5f5; /* Цвет фона шапки модального окна */
  --vrx-h2s-main-modal-header-color: var(--vrx-h2s-text-color); /* Цвет текста шапки модального окна */
  --vrx-h2s-main-modal-text-color: var(--vrx-h2s-text-color); /* Цвет текста модального окна */
  --vrx-h2s-main-modal-footer-bg: #f5f5f5; /* Цвет фона подвала модального окна */
  --vrx-h2s-main-modal-footer-color: var(--vrx-h2s-text-color); /* Цвет текста подвала модального окна */

  /* Ввод сообщений */
  --vrx-h2s-chat-send-bg: var(--vrx-h2s-accent-color); /* Цвет фона кнопки ввода сообщения */
  --vrx-h2s-chat-send-hover-bg: var(--vrx-h2s-accent-hover-color); /* Цвет фона кнопки ввода сообщения при наведении */
}
