:root {
  --vrx-h2s-z-index: 100000; /* Z-index для контейнера */

  /* Шрифты */
  --vrx-h2s-text-font-family: 'Istok Web', Arial, sans-serif; /* Шрифт */
  --vrx-h2s-text-color: #474747; /* Цвет шрифта основной */

  /* Цвета */
  --vrx-h2s-primary-color: #2fb991; /* Основной цвет */
  --vrx-h2s-secondary-color: #26A69A; /* Вторичный цвет */
  --vrx-h2s-accent-color: #e3007a; /* Акцентный цвет */
  --vrx-h2s-accent-hover-color: #9e2164; /* Акцентный цвет при наведении */

  --vrx-h2s-positive-color: #21BA45; /* Цвет успешного действия */
  --vrx-h2s-negative-color: #C10015; /* Цвет ошибки */
  --vrx-h2s-info-color: #31ccec; /* Цвет информации */
  --vrx-h2s-warning-color: #F2C037; /* Цвет предупреждения */

  /* Главная кнопка - вызов помощника */
  --vrx-h2s-main-button-text-font-size: 18px; /* Размер шрифта основной кнопки */
  --vrx-h2s-main-button-bg-color: var(--vrx-h2s-accent-color, #9C27B0); /* Цвет фона основной кнопки */
  --vrx-h2s-main-button-text-color: #fff; /* Цвет текста основной кнопки */
  --vrx-h2s-main-button-hover-bg-color: var(--vrx-h2s-accent-hover-color, #7b1fa2); /* Цвет фона основной кнопки при наведении */
  --vrx-h2s-main-button-hover-text-color: #fff; /* Цвет текста основной кнопки при наведении */
  --vrx-h2s-main-button-border-radius: 0px; /* Радиус скругления кнопки */

  /* Главное модальное окно */
  --vrx-h2s-main-modal-bg-color: #fff; /* Цвет фона модального окна */
  --vrx-h2s-main-modal-width: 1200px; /* Ширина модального окна */
  --vrx-h2s-main-modal-border-radius: 10px; /* Радиус скругления модального окна */
  --vrx-h2s-main-modal-title-size: 16px; /* Размер шрифта заголовка модального окна */
  --vrx-h2s-main-modal-header-bg: #f5f5f5; /* Цвет фона шапки модального окна */
  --vrx-h2s-main-modal-header-color: #888; /* Цвет текста шапки модального окна */
  --vrx-h2s-main-modal-text-color: var(--vrx-h2s-text-color); /* Цвет текста модального окна */
  --vrx-h2s-main-modal-footer-bg: #f5f5f5; /* Цвет фона подвала модального окна */
  --vrx-h2s-main-modal-footer-color: #888; /* Цвет текста подвала модального окна */

  --vrx-h2s-main-modal-example-border-color: var(--vrx-h2s-accent-color, #e0e0e0); /* Цвет рамки окна примера вопроса */
  --vrx-h2s-main-modal-example-color: #474747; /* Цвет текста окна примера вопроса */
  --vrx-h2s-main-modal-example-bg-color: #f5f5f5; /* Цвет фона окна примера вопроса */

  --vrx-h2s-main-modal-example-border-color-hover: var(--vrx-h2s-accent-hover-color, #7b1fa2); /* Цвет рамки окна примера вопроса */
  --vrx-h2s-main-modal-example-color-hover: #fff; /* Цвет текста окна примера вопроса */
  --vrx-h2s-main-modal-example-bg-color-hover: var(--vrx-h2s-accent-color, #9C27B0); /* Цвет фона окна примера вопроса */


  --vrx-h2s-chat-user-bg: #e1e9e6; /* Цвет фона сообщения от пользователя */
  --vrx-h2s-chat-bot-bg: #e9e5e1; /* Цвет фона сообщения от бота */

  /* Ввод сообщений: главное окно, модальное окно */
  --vrx-h2s-chat-send-bg: var(--vrx-h2s-accent-color, #9C27B0); /* Цвет фона кнопки ввода сообщения */
  --vrx-h2s-chat-send-hover-bg: var(--vrx-h2s-accent-hover-color, #7b1fa2); /* Цвет фона кнопки ввода сообщения при наведении */
  --vrx-h2s-chat-send-border-radius: 0px; /* Радиус скругления кнопки ввода сообщения */

  /* Главная строка ввода */
  --vrx-h2s-main-input-title-color: #e0e0e0; /* Цвет текста заголовка главной строки ввода */
  --vrx-h2s-main-input-bg-color: var(--vrx-h2s-primary-color, #1976d2); /* Цвет фона окна главной строки ввода */
  --vrx-h2s-main-input-border-radius: 0px; /* Радиус скругления окна главной строки ввода */
  --vrx-h2s-main-input-example-border-radius: 0px; /* Радиус скругления окна примера вопроса */
  --vrx-h2s-main-input-example-border-color: #e0e0e0; /* Цвет рамки окна примера вопроса */
  --vrx-h2s-main-input-example-color: #474747; /* Цвет текста окна примера вопроса */
  --vrx-h2s-main-input-example-bg-color: #f5f5f5; /* Цвет фона окна примера вопроса */

  --vrx-h2s-main-input-example-bg-color-hover: var(--vrx-h2s-accent-color, #9C27B0); /* Цвет фона окна примера вопроса */
  --vrx-h2s-main-input-example-color-hover: #fff; /* Цвет текста окна примера вопроса */
  --vrx-h2s-main-input-example-border-color-hover: var(--vrx-h2s-accent-hover-color, #7b1fa2); /* Цвет рамки окна примера вопроса при наведении */

  --vrx-h2s-main-input-input-color: #474747; /* Цвет текста окна ввода сообщения */
  --vrx-h2s-main-input-input-bg-color: #fff; /* Цвет фона окна ввода сообщения */
  --vrx-h2s-main-input-input-border-radius: 0px; /* Радиус скругления окна ввода сообщения */
  --vrx-h2s-main-input-input-border-color: var(--vrx-h2s-primary-color, #1976d2); /* Цвет рамки окна ввода сообщения */

  --vrx-h2s-main-input-collapse-bg-color: var(--vrx-h2s-accent-color, #9C27B0); /* Цвет фона кнопки сворачивания */
  --vrx-h2s-main-input-collapse-border-radius: 0px; /* Радиус скругления кнопки сворачивания */
  --vrx-h2s-main-input-collapse-border-color: var(--vrx-h2s-accent-color, #9C27B0); /* Цвет рамки кнопки сворачивания */
  --vrx-h2s-main-input-collapse-color: #fff; /* Цвет текста кнопки сворачивания */
  
  --vrx-h2s-main-input-collapse-color-hover: #fff; /* Цвет текста кнопки сворачивания при наведении */
  --vrx-h2s-main-input-collapse-bg-color-hover: var(--vrx-h2s-accent-hover-color, #7b1fa2); /* Цвет фона кнопки сворачивания при наведении */
  --vrx-h2s-main-input-collapse-border-color-hover: var(--vrx-h2s-accent-hover-color, #7b1fa2); /* Цвет рамки кнопки сворачивания при наведении */
}
